<div class="">
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="position: fixed">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex info align-items-center">
        <div class="">
          <a routerLink="home" class="d-block"> <img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a class="nav-link" routerLink="home">
              <i class="nav-icon fas fa-th"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a routerLink="book" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              Livros adquiridos
            </a>
          </li>

          <li class="nav-item">
            <!-- Cadastro de Livros -->
            <a class="nav-link">
              
              <p>
                Livros
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              
              <li class="nav-item">
                <a routerLink="funcionarios" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  Livros emprestados (em desenvolv.)
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <!-- Relatório -->
            <a class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Relatório de leitura
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="clientes" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  Livros adquiridos
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="funcionarios" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  Livros emprestados (em desenvolv.)
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</div>
<app-header></app-header>

<div class="content-wrapper spacing-margin background-love">
  <div class="opacity">
  <router-outlet ></router-outlet>
  </div>
</div>